*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0B132B;
    text-align: center;
}
h1{
    color: #EAF2EF;
}
p{
    color: #EAF2EF;
}
.container{
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem black;
    font-size: 8vmin;
    color: #b0413e;
    background: #EAF2EF;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background: #EAF2EF;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
}
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
#msg {
    color: #EAF2EF;
    font-size: 5vmin;
  }
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background: #EAF2EF;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
}
.hide{
    display: none;
}